#title {
    font-size: 30px;
    text-align: center;
  }
form{
    text-align: center;
}
table{
    text-align: center;
}
.left{
    text-align: left;
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
}
.right{
    width: 100%;
    float: right;
    margin-top: 10px;
} 

/* put Checkout onto right side of screen */
#Checkout{
    text-align: center;
    width: 100px;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 5px; 
    background-color: green;
    color: white;
    
}

#homebtn{

    text-align: center;
    width: 100px;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 5px; 
}