table{
    border-spacing: 0px;
    margin-top: 80px;
    width: 100%;
    text-align: center;


}

th{
    width: 20px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    text-align: center;
}

td{
    width: 20%;
    background-color: rgb(220, 218, 218);
    color: rgb(20, 19, 19);
    text-align: center;
}

td img{
    background-color: white;
    object-fit: scale-down;
}

td a{
    text-decoration: none;
    background-color: rgb(255, 30, 68);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}

#title {
    text-align: center;
    font-size: 30px;
    /* margin-bottom: 20px; */
}

#myCheckOutButton{
    text-decoration: none;
    background-color:green;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}
/* format div */

div {
    text-align: left;
    font-size: 20px;
    margin-left: 20px;

}

#Homebtn{
    
    background-color:green;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 40px;

}

